<launch>
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/video2" />
  </node>

  <node name="RosAria" pkg="rosaria" type="RosAria" output="screen">
  </node>

  <node name="person_detection_node" pkg="follow_me" type="person_detection_node.py" output="screen">
  </node>

</launch>